.container {
    max-width: 1380px;
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.card {
    width: 1200px;
}
.card-body {
    padding: 20px 40px;
}
.card-body h3.card-title text-center{
    padding: 18px 0;
    font-size: 2rem;
    font-weight: bolder;
}
.card-body h5{
    font-size: 1.5rem;
    font-weight: 600;
}
.card-text{
    text-indent: 2em;
}
.btn-box{
    margin: 15px 0;
}
.card-header{
    font-size: 30px;
    font-weight: bolder;
    color: #7abaff;
}
.list-group-item {
    width: 300px;
    position: relative; /* 设置为 relative  */
}
.list-group-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}
.more{
    padding: 10px;
}
.more li{
    padding:7px;
    border-bottom:1px dashed #b9bbbe;
}
.more li a{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more li a:hover{
    color: #02539f;
}
.more .time {
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
}