.container {
    max-width: 1380px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.card-body {
    padding: 20px 40px;
}
.card-text{
    text-indent: 2em;
}
.card-header{
    font-size: 30px;
    font-weight: bolder;
}
.list-group-item {
    width: 300px;
    position: relative; /* 设置为 relative  */
}
.list-group-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.card {
    width: 1200px;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}