body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.WorkDetails {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.WorkDetails .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.WorkDetails .head h2 {
    margin: 0;
    color: #333;
}
.WorkDetails .head a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}
.WorkDetails .head a:hover {
    text-decoration: underline;
}
.WorkDetails .detail h5 {
    margin: 0 0 10px;
    color: #333;
    font-size: 18px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}
.WorkDetails .detail p {
    margin: 21px 0;
    color: #555;
}
.WorkDetails .detail p span {
    color: #333;
    font-weight: bold;
}
.WorkDetails .detail .img {
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    top: 173px;
    right: 383px;
}
.WorkDetails .detail .img img {
    object-fit: cover; /* 图片按比例填充框 */
    position: absolute; /* 绝对定位 */
}

.score_label {
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
}
.score_input {
    width: 50px;
    height: 21px;
    padding: 7px;
    font-size: 10px;
    border: 1px solid #ccc;
}

.comments_container {
    display: flex;
    align-items: flex-start; /* 顶部对齐 */
}
.comments_label {
    width: 100px;
    height: 50px;
    margin-top: 5px; /* 可根据需要调整 */
}
#message {
    width: calc(100% - 100px); /* 剩余宽度 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    resize: vertical;
}
#message::placeholder {
    color: #999; /* 灰色提示文字颜色 */
    font-style: italic;
}
#message:focus::placeholder {
    color: transparent; /* 当获得焦点时，提示文字颜色变为透明 */
}
.judges_btn {
    display: block;
    margin:30px auto 0;
    padding: 7px 26px;
    font-size: 17px;
    color: white;
    background-color: #1f8bff;
    border: none;
    border-radius: 17%;
    cursor: pointer;
}
/* 鼠标悬停时的样式 */
.judges_btn:hover {
    background-color: #0056b3; /* 悬停时的背景颜色 */
}
/* 鼠标按下时的样式 */
.judges_btn:active {
    background-color: #004085; /* 按下时的背景颜色 */
}
/* 鼠标悬停时的阴影效果 */
.judges_btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* 焦点时的阴影 */
}
