.time{
    text-align: right;
    font-size: 12px;
    color: #b9bbbe;
}
.no-read{
    padding: 3px 10px;
    background: #ff8080;
    color: #fff;
    border-radius: 18px;
    font-size: 19px;
}
span{
    color: #7abaff;
}
li.message-item{
    padding: 15px 0;
    border-bottom: 1px dashed darkgray;
}
.message-haeder{
    font-size: 24px;
}
.message-content{
    font-size: 18px;
}
a.btn{
    margin: 0 10px;
}