body {
    font-family: Arial, sans-serif;
    height: auto;
}

#header {
    background-color: #393939;
    padding: 10px;
    text-align: right;
    display: inline-block;
    width: 100%;
    position: fixed; /* 使header固定在页面顶部 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    z-index: 1000; /* 确保header在其他内容之上 */
}

h5{
    display: inline-block;
    color: #9d9d9d;
    float: left;
    padding: 10px;
}
#userInfo {
    padding: 10px;
    display: inline-block;
}

#userInfo a{
    color: #9d9d9d;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

#userName {
    margin-right: 10px;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.form-signin {
    padding: 15px;
    padding-left: 15px;
    margin: 0px auto;
    max-width: 500px;
    margin-bottom: 10px;
}
#sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #393939;
    border-right: 1px solid #eee;
    width: 20%;
}
hr {
    border: 0;
    height: 1px;
    background-color: #ccc; /* 分割线颜色 */
    margin: 10px 0; /* 分割线上下边距 */
}
.form-group{
    clear: both;
    position: relative;
    margin-bottom: 15px;
}
i{
    padding-right: 10px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu-item a{
    padding: 10px;
    margin-bottom: 10px;
    color: #aeb2b7;
    text-decoration: none;
}
.menu-item{
    padding: 5px;
    margin-bottom: 5px;
    color: #aeb2b7;
    display: flex; /* 使用flex布局 */
}
.menu-item.active {
    background-color: #424242;
}
.menu-item.active a{
    color: #d84c31;
}
.menu-item:hover {
    background-color: #424242;
}
.menu-item:hover a{
    color: #d84c31;
}
#header img {
    width: 50px;
    height: 70%;
    float: left;
}

.container {
    width: 100%;
    margin-top: 100px;
    padding-right: 15px;
}
h3 {
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.main {
    padding: 20px;
    margin-left: 20%;
}