body {
    font-family: Arial, sans-serif;
    height: auto;
}

#header {
    background-color: #3f51b5;
    padding: 20px;
    text-align: right;
    display: inline-block;
    width: 100%;
    position: fixed; /* 使header固定在页面顶部 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    z-index: 1000; /* 确保header在其他内容之上 */
}

h5{
    display: inline-block;
    color: white;
    float: left;
    padding: 15px;
}
#userInfo {
    padding: 10px;
    display: inline-block;
}

#userInfo a{
    color: white;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

#userInfo span{
    color: white;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.form-signin {
    padding: 15px;
    padding-left: 15px;
    margin: 0px auto;
    max-width: 500px;
    margin-bottom: 10px;
}
#sidebar {
    position: fixed;
    top: 104px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #3f51b5;
    border-right: 1px solid #eee;
    width: 12%;
}
hr {
    border: 0;
    height: 1px;
    background-color: #ccc; /* 分割线颜色 */
    margin: 10px 0; /* 分割线上下边距 */
}
.form-group{
    clear: both;
    position: relative;
    margin-bottom: 15px;
}
.form-group {
    display: flex;
    align-items: center;
}
i{
    padding-right: 10px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu-item a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}
.menu-item{
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    display: flex; /* 使用flex布局 */
}
.menu-item.active {
    background-color: #80bdff;
    border: 1px solid #80bdff;
    border-radius: 10px;
}
.menu-item.active a{
    color: #d84c31;
}
.menu-item:hover {
    background-color: #80bdff;
}
.menu-item:hover a{
    color: #d84c31;
}
#header img {
    width: 50px;
    height: 70%;
    float: left;
}

.container1 {
    width: 100%;
    margin: 150px auto;
    padding-right: 15px;
}
h3 {
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.row {
    margin:0 -15px;
}

.main {
    padding:0 40px;
}

.main {
    margin-left: 16%;
}
.main .section1{
    margin-top: 155px;
}

.main1 {
    padding: 20px;
    margin-left: 16%;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 120px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

label.error {
    float: left;
    color: red;
    font-weight: 400;
    padding: 6px 0 6px 7px;
    display: inline-block;
}

.form-group label {
    flex: 0 0 auto; /* 不允许标签占据额外空间 */
    margin-right: 10px; /* 在标签和输入框之间添加一些间隔 */
}
.form-group input {
    flex: 1 1 auto; /* 输入框占据剩余空间 */
}




.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    unicode-bidi: isolate;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu:hover  {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 60px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

