.Works {
    display: block; /* 默认为块级元素 */
    min-height: 400px;
    width: 1280px;
    margin: 0 auto;
}
.MatchBaseList {
    border: 1px solid #d1d1d1;
    border-radius: 11px;
    float: left;
    width: 300px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 0 5px #e0ded7;
    position: relative;
}
.MatchTitle {
    padding-left: 30px;
    padding-top: 30px;
}
.WorksList {
    border:1px solid #d4d4d4;
    border-radius: 11px;
    float: right;
    width: 920px;
    padding:40px 25px;
    background-color: white;
    box-shadow: 0 0 5px #e0ded7;
}
.HeadTitle {
    color: rgb(0 52 129);
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #d4d4d4;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color:#f2fcff;;
}
.WorksList td a {
    color: rgb(34 98 193);
    font-weight: 600;
    letter-spacing: 2px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}