body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.WorkDetails {
    width: 960px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.WorkDetails .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.WorkDetails .head h2 {
    margin: 0;
    color: #333;
}

.WorkDetails .head a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.WorkDetails .head a:hover {
    text-decoration: underline;
}

.WorkDetails .detail {
    padding: 20px 40px;
}

.WorkDetails  h5 {
    margin: 0 0 10px;
    color: #333;
    font-size: 18px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.WorkDetails .detail p {
    margin: 17px 0;
    color: #555;
}

.WorkDetails .detail p span {
    color: #333;
    font-weight: bold;
}

.WorkDetails .detail .img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    right: 8%;
}

.like-button-container {
    position: absolute;
    top: 520px;
    right: 1100px;
}
.gray-heart {
    color: gray;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.red-heart {
    color: red;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
