.Works {
    display: block; /* 默认为块级元素 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    height: 1280px;
    width: 1110px;
    background-color: white;
}
.MatchBaseList {
    border: 1px solid #d1d1d1;
    border-radius: 11px;
    float: left;
    width: 300px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 0 5px #e0ded7;
    position: relative;
}
.MatchTitle {
    padding-left: 70px;
    padding-top: 50px;
}
.WorksList {
    border: 1px solid #d1d1d1;
    border-radius: 11px;
    float: right;
    width: 800px;
    padding: 20px 25px 10px;
    background-color: white;
    box-shadow: 0 0 5px #e0ded7;
}
.HeadTitle {
    padding-left: 70px;
    padding-top: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}